@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 900;
    src: local('Montserrat Black'), local('Montserrat-Black'), url('../fonts/Montserrat-Black.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/Montserrat-Regular.ttf');
}


h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0;
	font-family: "Montserrat";
	font-weight: 700;
}

.header-1 {
	font-weight: 900;
	text-transform: uppercase;
	font-size: 64px;
	margin-bottom: 0.5rem;
	line-height: 1.2;
}

.header-2 {
	font-weight: 700;
	font-size: 2rem;
	margin-bottom: 0.5rem;
	line-height: 1;
}

.header-3 {
	font-size: 1.75rem;
	font-weight: 400;
}

@media screen and (max-width: 991px) {
    .header-1 {
		font-size: 2rem;
	}
	.header-2 {
		font-size: 1.5rem;
	}

	.header-3 {
		font-size: 1.25rem;
    }
}