.wrapper {
	padding: 0 20px;
}

.section {
	padding: 1.5rem 1.5rem 0 3rem;
	border-radius: 10px;

	.header {
		font-size: 1rem;
		margin-bottom: 1rem;
	}

	&.section_intro {
		background: #B3E9EB;
	}
}