@import '@/assets/scss/variables';
/*
gmail unauthorized
*/
.navbar {
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 11000;
	background-color: $color_white;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;

	a {
		text-decoration: none;
		margin-left: 1rem;
	}
}
/*
.navbar + div {
	padding-top: 85px!important;
}
*/

.sandwitch {
	font-size: 1.25rem;
	margin-left: .5rem;
	display: none;
}

@media screen and (max-width: 991px) {
	.navbar {
		font-size: 12px;
		padding: .5rem .5rem .5rem 0;
	}

	.sandwitch {
		display: inline-block;
		vertical-align: middle;
	}
}