@font-face {
	font-family: "EKR";
	src: url("/game-assets/fonts/main.ttf");
}

html,
body {
	font-size: 18px;
	height: 100%;
	font-family: "EKR", Arial, monospace;
	color: #fff;
	text-shadow: 2px 2px 0 #000;
}

body {
	background: url("/game-assets/img/bg.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #000;
	touch-action: manipulation;
}

html,
body,
ul,
li,
p {
	margin: 0;
	padding: 0;
}

p {
	margin: 0 0 1rem;
}

ul {
	list-style: none;
}

.button {
	display: inline-block;
	line-height: 47px;
	text-align: center;
	text-decoration: none;
	padding: 0 1rem;
	color: #fff;
	background: url("/game-assets/img/button.png");
	position: relative;
	cursor: pointer;

	i {
		position: absolute;
		width: 5px;
		height: 100%;
		top: 0;
		left: 100%;
		background: right top url("/game-assets/img/button.png");
	}

	&.block {
		display: block;
	}

	&:hover {
		transform: scale(1.05);
	}
}

.mb-1 {
	margin-bottom: 1rem;
}

.py-2 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
