@import "@/assets/scss/variables";

.parent {
	width: 80vw;
	margin: 20vh auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
}
.button {
	background: #ccc;
	cursor: pointer;
	padding: 10px 20px;
}