.main-word {
	position: absolute;
	bottom: 3rem;
	left: 10%;
	right: 10%;
	display: flex;
	justify-content: center;
	padding: 0 1rem;

	.main-word__action {
		position: absolute;
		top: 0;
		width: 20px;
		height: 20px;

		&[data-type="delete"] {
			background: red;
			right: 100%;
		}

		&[data-type="confirm"] {
			background: green;
			left: 100%;
		}
	}

	.user-word {
		position: absolute;
		bottom: 100%;
		padding: 0 0 1rem;
	}

	.refresh-word-info {
		position: absolute;
		top: 100%;
		padding: 1rem 0 0;

		.refresh-word-info__timer {
		}
	}

	.main-word__letters {
		text-align: center;
		user-select: none;
	}

	.main-word__letter {
		text-transform: uppercase;
		display: inline-block;
		padding: 0.5rem 0.75rem;
		background: #34353b;
		border-radius: 5px;
		border: 1px solid #000;
		margin: 0 2px 2px 0;
	}
}

.player {
	position: absolute;
	top: 0;
	width: 50%;

	.word-list {
		position: absolute;
		top: 3rem;
	}

	.stamina {
		position: absolute;
		background: red;
		top: 3rem;
		width: 50%;
		height: 1rem;

		.stamina__indicator {
			position: absolute;
			background: blue;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}

	.nickname {
		position: absolute;
		top: 1rem;
	}

	&[data-type="host"] {
		left: 0;

		.stamina {
			right: 1rem;

			.stamina__indicator {
				right: 0;
			}
		}

		.word-list,
		.nickname {
			left: 1rem;
		}
	}

	&[data-type="client"] {
		left: 50%;
		text-align: right;

		.stamina {
			left: 0;

			.stamina__indicator {
				left: 0;
			}
		}

		.word-list,
		.nickname {
			right: 1rem;
		}
	}
}

.round-timer {
	position: absolute;
	left: 0;
	right: 0;
	top: 1rem;
	text-align: center;
}

.copy-invitation.mobile {
	display: none;
}

.wrestlers {
	position: absolute;
	width: 50%;
	bottom: 15%;
	left: 50%;
	transform: translateX(-50%);

	.wrestlers-img {
		width: 100%;
		display: block;
	}
}

@media screen and (max-width: 1100px) {
	.copy-invitation.mobile {
		display: inline-block;
	}

	.copy-invitation.desktop {
		display: none;
	}
}
